<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".js" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
        </caching>
<!--         <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent> -->
    </system.webServer>
</configuration>
